## Class and object

## init() function

In [ ]:
class person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [6]:
p1 = person('gopinath', 26)
print(p1.name)
print(p1.age)

gopinath
26

In [32]:
class person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def myfun(self):
        print("my name is "+self.name)
        print("my age is {}".format(self.age))
p1 = person('gopinath', 26)
p1.myfun()

my name is gopinath
my age is 26

In [37]:
class independence:
    def __init__(august, name , year):
        august.name = name
        august.year = year
    
    def myind(august):
        print("{}  got independence".format(august.name))
        print("on {}th august".format(august.year))
i1 = independence('INDIA',15)
i1.myind()

INDIA  got independence
on 15th august

## exercise on class

In [38]:
import array
for name in array.__dict__:
    print(name)

__name__
__doc__
__package__
__loader__
__spec__
_array_reconstructor
ArrayType
array
typecodes

In [7]:
class mathematics:
    
    def __init__(self,a,b):
        self.a = a
        self.b = b
        
    def sum_(self):
        return self.a + self.b
    
    def sub_(self):
        return self.a - self.b
    
    def mul_(self):
        return self.a * self.b
    
    def div_(self):
        return self.a / self.b

In [8]:
obj = mathematics(1, 6)

In [9]:
obj.sum_()

7

In [11]:
obj.sub_()

-5

In [12]:
obj.mul_()

6

In [13]:
obj.div_()

0.16666666666666666

# Polymorphism

In [15]:
class Food_item:
    def __init__(self, name, price):
        self.name = name
        self.price = price
        
    def info(self):
        print(f"my food name is {self.name} and my price is {self.price}crores")
        
    def status_(self):
        print("good item")
class fruit_item:
    def __init__(self, name, price):
        self.name = name
        self.price = price
        
    def info(self):
        print(f"my food name is {self.name} and my price is {self.price}crores")
        
    def status_(self):
        print("nice fruit")

In [16]:
obj1 = Food_item('biryani',20)
obj2 = fruit_item('apple',12)

In [17]:
for i in (obj1, obj2):
    i.info()
    i.status_()

my food name is biryani and my price is 20crores
good item
my food name is apple and my price is 12crores
nice fruit

# Single inheritence

In [1]:
class bird:
    def intro(self):
        print("there are many types of birds")
        
    def flight(self):
        print("most of the birds can fly but some cannot")
        
class sparrow(bird):
    def flight(self):
        print("sparrow can fly")

+ object for parent class(bird) only

In [2]:
obj_bird = bird()

In [3]:
obj_bird.intro()

there are many types of birds

In [4]:
obj_bird.flight()

most of the birds can fly but some cannot

+ object for child class(sparrow)

In [5]:
obj_sparrow = sparrow()

In [6]:
obj_sparrow.intro()

there are many types of birds

In [7]:
obj_sparrow.flight()

sparrow can fly

+ child class will overide the parent class

# Encapsulation

In [24]:
class computer:
    def __init__(self):
        self.maxprice = 900
        
    def sell(self):
        print("price of the computer {}".format(self.maxprice))

In [25]:
c1 = computer()

In [26]:
c1.sell()

price of the computer 900

In [27]:
class computer:
    def __init__(self):
        self.maxprice = 900

In [28]:
c1 = computer()

In [29]:
c1.maxprice = 1000

In [30]:
c1.maxprice

1000

In [31]:
class computer:
    def __init__(self):
        self.__maxprice = 900
        
    def sell(self):
        print("price of the computer {}".format(self.__maxprice))

In [32]:
c1 = computer()

In [33]:
c1.sell()

price of the computer 900

In [34]:
c1.__maxprice

AttributeError: 'computer' object has no attribute '__maxprice'

+ __maxprice will be hidden

In [35]:
class computer:
    def __init__(self):
        self.__maxprice = 900
        
    def sell(self):
        print("price of the computer {}".format(self.__maxprice))
        
    def setmaxprice(self, price):
        self.__maxprice = price

In [36]:
c1 = computer()

In [37]:
c1.sell()

price of the computer 900

In [38]:
c1.__maxprice = 100

In [39]:
c1.sell()

price of the computer 900

In [40]:
c1.setmaxprice(1000)

In [41]:
c1.sell()

price of the computer 1000

# Data Abstraction

In [51]:
from abc import ABC, abstractmethod
class shape(ABC):
    @abstractmethod

    def area(self):
        pass
    
class rectangle(shape):
    length = 7
    breadth = 4
    def area(self):
        return self.length * self.breadth
    
class square(shape):
    length = 4
    def area(self):
        return self.length * self.length
    
class circle(shape):
    radius = 3
    def area(self):
        return 3.14 * self.radius * self.radius
    
class triangle(shape):
    length = 6
    width = 7
    def area(self):
        return 0.5 * self.length * self.width

In [43]:
r = rectangle()

In [45]:
r.area()

28

In [47]:
s = square()

In [48]:
s.area()

16

In [52]:
c = circle()

In [53]:
c.area()

28.259999999999998

In [56]:
t = triangle()

In [57]:
t.area()

21.0

# Task

In [104]:
class Vehicle:

    def __init__(self,color, name, max_speed, mileage):
        self.color = color
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

class Bus(Vehicle):
    pass

In [105]:
School_bus = Bus("white", "School Volvo", 180, 12)
print('vehicle color :', School_bus.color, ", Vehicle Name: ", School_bus.name, ", Speed: ", School_bus.max_speed, ", Mileage: ", School_bus.mileage)

vehicle color : white , Vehicle Name:  School Volvo , Speed:  180 , Mileage:  12

# multiple inheritance

In [84]:
#parent class
class bus:
    def __init__(self, color, vehicle_name,speed, milage):
        self.color = color
        self.vehicle_name = vehicle_name
        self.speed = speed
        self.milage = milage
        
#parent class
class car:
    def __init__(self, color1, vehicle_name1,speed1, milage1):
        self.color1 = color1
        self.vehicle_name1 = vehicle_name1
        self.speed1 = speed1
        self.milage1 = milage1
        
#child class
class vehicle(bus,car):
    def __init__(self, color, vehicle_name,speed, milage, color1, vehicle_name1,speed1, milage1):
        bus.__init__(self, color, vehicle_name,speed, milage)
        car.__init__(self, color1, vehicle_name1,speed1, milage1)
        
        print("Color: {}, Vehicle name: {}, Speed: {}, Mileage: {}".format(color,vehicle_name,speed, milage))
        print("Color: {}, Vehicle name: {}, Speed: {}, Mileage: {}".format(color1, vehicle_name1,speed1, milage1))

In [85]:
obj_vehile = vehicle('white', 'school_bus', 120, 60, 'white','audi_Q5',120,30)

Color: white, Vehicle name: school_bus, Speed: 120, Mileage: 60
Color: white, Vehicle name: audi_Q5, Speed: 120, Mileage: 30

In [65]:
class cat:
    def __init__(self, name, breed, age):
        self.name = name
        self.breed = breed
        self.age = age
        
    def info(self):
        print(f"my cat name is {self.name} and breed of cat is {self.breed} and age of cat is {self.age}")
        
    def status_(self):
        print("friendly cat")
class dog:
    def __init__(self, name, breed, age):
        self.name = name
        self.breed = breed
        self.age = age
        
    def info(self):
        print(f"my dog name is {self.name} and breed of dog is {self.breed} and age of dog is {self.age}")
        
    def status_(self):
        print("friendly dog")

In [67]:
obj1 = cat('silk','wild', 20)
obj2 = dog('tommy','pug', 6)

In [68]:
for i in (obj1, obj2):
    i.info()
    i.status_()

my cat name is silk and breed of cat is wild and age of cat is 20
friendly cat
my dog name is tommy and breed of dog is pug and age of dog is 6
friendly dog

In [73]:
class rose:
    def __init__(self, color, type1):
        self.color = color
        self.type1 = type1
        
    def info(self):
        print(f"color of the rose is {self.color} and rose is {self.type1} type")
        
    def status_(self):
        print("nice flower")
class lilly:
    def __init__(self, color, type1):
        self.color = color
        self.type1 = type1
        
    def info(self):
        print(f"color of the lilly is {self.color} and lilly is {self.type1} type")
        
    def status_(self):
        print("nice flower")

In [74]:
obj1 = rose('pink','hybrid')
obj2 = lilly('white','normal')

In [75]:
for i in (obj1, obj2):
    i.info()
    i.status_()

color of the rose is pink and rose is hybrid type
nice flower
color of the lilly is white and lilly is normal type
nice flower

In [1]:
class vehicles:
    def show_vehicles(self):
        print("These are the types of vehicles")
class vehicle1(vehicles):
    def show_vehicle1(self,color,vehicle_name,speed,mileage):
        print(self.color,self.vehicle_name,self.speed,self.mileage)
class vehicle2(vehicles):
    def show_vehicle2(self,color1,vehicle_name1,speed1,mileage1):
                print(self.color,self.vehicle_name,self.speed,self.mileage)
class types(vehicle1,vehicle2):
    def vehicles_types(self):
        print("Color: {}, Vehicle name: {}, Speed: {}, Mileage: {}".format(color,vehicle_name,speed, mileage))
        print("Color: {}, Vehicle name: {}, Speed: {}, Mileage: {}".format(color1,vehicle_name1,speed1, mileage1))

In [16]:
class team:
    def show_team(self):
        print("This is our team")
class datascience(team):
    def show_datascience(self,datasciencename):
        print(self.datasciencename)
class developer1(team):
    def show_developername(self,developername):
        print(self.developername)
class developer2(team):
    def show_developername2(self,developername2):
        print(self.developername2)
class python(datascience,developer1,developer2):
    def team_python(self):
        print("datascience:",self.datasciencename)
        print("developer:",self.developername)
        print("developer2:",self.developername2)

In [8]:
obj = python()

In [19]:
obj.datasciencename='gopinath'
obj.developername = 'vagdevi'
obj.developername2 ='rushi'

In [21]:
obj.show_team()

This is our team