## exercise by bharadwaj

In [1]:
list1 = [10, 20, 40, 90, 200]
list2 = [10, 20 ,90, 20 ,30, 10]

if(list1[0] == list1[4]):
    print("true")
else:
    print("false")


if(list2[0] == list2[5]):
    print("true")
else:
    print("false")

false
true

In [2]:
tup1 = (10, 20, 40, 90, 200)
tup2 = (10, 20 ,90, 20 ,30, 10)

if(tup1[0] == tup1[4]):
    print("true")
else:
    print("false")


if(tup2[0] == tup2[5]):
    print("true")
else:
    print("false")

false
true

In [15]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum1 = 0
for i in list1:
    sum1 += i
    
    
print(sum1)

55

In [14]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = []


for i in list1:
    if(i == 1):
        continue
    elif(i == 2):
        list2.append(i)
    elif(i%2==1 ):
        list2.append(i)

print("prime numbers between 1 and 10 are{}".format(list2),end = ' ')

prime numbers between 1 and 10 are[2, 3, 5, 7, 9]

In [4]:
n = int(input("enter the value of n"))

print("prime numbers between 1 and {} are:".format(n))
for i in range(1,n+1):
    if(i == 1):
        continue
    for j in range(2, i):
        if(i%j==0):
            break
    else:
        print(i, end = ' ')

enter the value of n 23

prime numbers between 1 and 23 are:
2 3 5 7 11 13 17 19 23

In [17]:
str1 = "HelloWorld"

print(str1.upper())
str1.lower()

HELLOWORLD

'helloworld'

In [2]:
str1 = "Hello World"
lower_case = 0
upper_case = 0

for i in str1:
    if (i>'a' and i<'z'):
        lower_case = lower_case + 1
    
    elif( i>'A' and i<'Z'):
        upper_case = upper_case + 1
        
        
print("lower case latters in given string are {}".format(lower_case))
print("lower case latters in given string are {}".format(upper_case))

lower case latters in given string are 8
lower case latters in given string are 2

In [3]:
a = int(input("enter the number to genarate series"))

f = 0
s = 1

if(a < 0):
    print("please enter the postitive value")
elif(a<=0):
    print("series upto {} is {}".format(a,f))
elif(a == 1):
    print("series upto {} is{},{}".format(a,f,s))
else:
    print("fibonacci sequence upto {} is".format(a))
    print(f,s, end = ' ')
    for x in range(2,a):
        next=f+s                           
        print(next,end=' ')
        f=s
        s=next

enter the number to genarate series 5

fibonacci sequence upto 5 is
0 1 1 2 3

In [5]:
n = 2
for i in range(0,10):
        n1 = n*(i+1)
        print(f"{n} x {i+1} = {n1}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [6]:
def table_(n):
    for i in range(0,10):
        n1 = n*(i+1)
        print(f"{n} x {i+1} = {n1}")

In [7]:
table_(6)

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [44]:
for i in range(1,11):
    for j in range(1,11):
        j = j*i   
        print ("{:2d}".format(j), end ='  ')
    print()

 1   2   3   4   5   6   7   8   9  10
 2   4   6   8  10  12  14  16  18  20
 3   6   9  12  15  18  21  24  27  30
 4   8  12  16  20  24  28  32  36  40
 5  10  15  20  25  30  35  40  45  50
 6  12  18  24  30  36  42  48  54  60
 7  14  21  28  35  42  49  56  63  70
 8  16  24  32  40  48  56  64  72  80
 9  18  27  36  45  54  63  72  81  90
10  20  30  40  50  60  70  80  90  100

In [62]:
list1 = [1, 5, 8, 3]
flag = False
enter = int (input ("enter the value"))
for i in list1:
    if enter == i:
        flag = True
        print( flag)
print( flag)

enter the value 7

False

In [34]:
def is_group_member(group_data, n):
    for value in group_data:
        if n == value:
            return True
    return False

In [35]:
is_group_member([1, 5, 8, 3], 3)

True

In [70]:
a = int (input(" Enter first value"))
b = int (input(" Enter second value"))

c = (a+b) * (a+b)

print(f" ({a} + {b})^2 = {c} ")

 Enter first value 4
 Enter second value 3

 (4 + 3)^2 = 49

In [71]:

c = 2 ** 6
print (c)

64

In [74]:
days = int(input("Input days: ")) * 3600 * 24
hours = int(input("Input hours: ")) * 3600
minutes = int(input("Input minutes: ")) * 60
seconds = int(input("Input seconds: "))

time = days + hours + minutes + seconds

print("The  amounts of seconds:", time)

Input days:  4
Input hours:  5
Input minutes:  20
Input seconds:  10

The  amounts of seconds: 364810