## Functional programming

In [1]:
def divi(man):
    odd_number = []
    even_number = []
    for i in man:
        if(i%2 == 0):
            even_number.append(i)
        else:
            odd_number.append(i)
    return(odd_number,even_number)

In [2]:
divi([2, 3, 4, 5, 6, 7, 1, 78, 79, 69, 56, 34, 33, 35, 36, 37, 43])

([3, 5, 7, 1, 79, 69, 33, 35, 37, 43], [2, 4, 6, 78, 56, 34, 36])

In [3]:
def flatt(list1):
    for i in list1:
        for j in i:
            print(j, end =' ')

In [4]:
flatt([[1, 2], [3, 4, 5],[6, 7, 8,9]])

1 2 3 4 5 6 7 8 9

In [5]:
def greet(name,msg='good morning'):
    return(name + ' '+ msg)

In [6]:
greet('gopinath')

'gopinath good morning'

In [7]:
complex(3,5)

(3+5j)

In [8]:
def add_(a,b):
    return a+b

In [9]:
add_(3, 4)

7

## Task

In [10]:
def compare_(list1, list2):
    if(len(list1) != len(list2)):
        return false
    elif(list1 == list2):
        return True
    else:
        return False

In [11]:
compare_([1, 2, 3, 4, 5],[1, 2, 3, 4, 5])

True

In [12]:
def add_(*gopinath):
    sum = 0
    for i in gopinath:
        sum = sum + i
    return sum

In [13]:
add_(1, 2, 3, 4, 5)

15

In [14]:
def hello(name, msg):
    
    return ('Hello'+' '+name +' '+'madam garu'+ ' ' +msg)

In [15]:
hello('vagdevi','good morning')

'Hello vagdevi madam garu good morning'

In [16]:
def check_odd_or_even(list1):
    odd_num = []
    even_num = []
    for i in list1:
        if(i%2==0):
            even_num.append(i)
        else:
            odd_num.append(i)
    print( "Even numbers from the list are", even_num, "and  Odd numbers in the list are",odd_num)

In [17]:
check_odd_or_even([23, 34, 35, 36, 37, 38, 39])

Even numbers from the list are [34, 36, 38] and  Odd numbers in the list are [23, 35, 37, 39]

In [18]:
def number_positive_negative(number):
    if(number < 0):
        print("number is negative")
    elif(number > 0):
        print("number is positive")
    else:
        print("number is zero")

In [19]:
number_positive_negative(23)

number is positive

In [20]:
number_positive_negative(-2)

number is negative

In [21]:
number_positive_negative(0)

number is zero

In [34]:
def temerature_(temp):
    if(temp <= 0):
        print("climate is too cool")
    elif(temp>0 and temp <=10):
        print("climate is in slightly cool")
    elif(temp>10 and temp <=20):
        print("climate is in slightly cool")
    elif(temp>20 and temp <=30):
        print("climate is slightly hot")
    else:
        print("climate is very hot")

In [35]:
temerature_(20)

climate is in slightly cool

In [36]:
temerature_(19)

climate is in slightly cool

In [37]:
temerature_(22)

climate is slightly hot

In [38]:
temerature_(-1)

climate is too cool

In [39]:
temerature_(31)

climate is very hot

In [92]:
def get_string(str1,str3,str4):
    x = str1[:2] + str1[8:10]
   # y = str2[:2] + str2[2:4]
    z = str3[:2] + str3[:2]
    if(len(str4) == 1):
        empty =  'string is empty' 
    else:
        empty = 'enter only one char'
    return (x,z,empty)

In [88]:
get_string('w3resource', 'w3', 'w' )

('w3ce', 'w3w3', 'string is empty')

In [90]:
get_string('gopinathMaadam', 'go', 'g' )

('goMa', 'gogo', 'string is empty')

In [93]:
get_string('gopinathMaadam', 'go', 'ga' )

('goMa', 'gogo', 'enter only one char')

In [123]:
def prime_numbers(n):
    print("prime numbers between 1 and {} are:".format(n))
    for i in range(1,n+1):
        if (i == 1):
            continue
        for j in range(2, i):
            if(i%j == 0):
                break
        else:
            print(i, end = ' ')

In [124]:
prime_numbers(10)

prime numbers between 1 and 10 are:
2 3 5 7

In [125]:
prime_numbers(56)

prime numbers between 1 and 56 are:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53

In [140]:
def table_(n):
    for i in range(0,10):
        n1 = n*(i+1)
        print(f"{n} x {i+1} = {n1}")

In [143]:
table_(6)

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [1]:
def count_words(str1):
    dict1 = {}
    for i in str1:
        keys = dict1.keys()
        if i in keys:
            dict1[i] += 1
        else:
            dict1[i] = 1
    return dict1

In [2]:
count_words('google.com')

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [3]:
count_words('vagdevi')

{'v': 2, 'a': 1, 'g': 1, 'd': 1, 'e': 1, 'i': 1}

In [4]:
count_words('gopinath')

{'g': 1, 'o': 1, 'p': 1, 'i': 1, 'n': 1, 'a': 1, 't': 1, 'h': 1}

In [21]:
def add_tostring(str1,str2):
    if (len(str1) < 3 and len(str2) < 3):
        print("please enter more than three character")
    else:
        str3 = str1 + 'ing'
        str4 = str2 + 'ly'
        return (str3+' '+ str4)

In [22]:
add_tostring('abc','string')

'abcing stringly'

In [30]:
def exchange_char(str1,str2):
    
    str3 = str2[:2] + str1[2:]
    str4 = str1[:2] + str2[2:]
    
    return("after exchange {} {}".format(str3, str4))

In [31]:
exchange_char('abc','xyz')

'after exchange xyc abz'

## Recursion

In [203]:
def factorial_(num):
    if(num == 0):
        return 1
    else:
        return (num * factorial_(num-1))

In [207]:
factorial_(4)

24

In [144]:
def fibonacci_(n):
    if (n <= 1):
        return n
    else:
        return (fibonacci_(n-1)+fibonacci_(n-2))

In [152]:
fibonacci_(3)

2

In [153]:
n = int(input("enter the number for fib series"))
if(n<0):
    print("enter a positive value")
else:
    print("fibonacci series")
    for i in range(n+1):
        print(fibonacci_(i), end = ' ')

enter the number for fib series 3

fibonacci series
0 1 1 2

## Sum of integers using list

In [169]:
def sum_(list1):
    if len(list1)==1:
        return list1[0]
    else:
        return (list1[0] + sum(list1[1:]))

In [170]:
sum_([1,2,3,4,5,6,7,8,9,10])

55

In [165]:
sum_([23, 34, 35, 12, 89, 17,29])

239

In [167]:
sum_([1])

1

In [168]:
sum_([1, 2])

3

In [192]:
def multiply_(list1):
    if len(list1)==1:
        return list1[0]
    else:
        return (list1[0] * multiply_(list1[1:]))

In [193]:
multiply_([2,3,4,5])

120

In [196]:
def last(n):
    return n[-1]

def sort_list_last(tuples):
    return sorted(tuples, key=last)

In [197]:
sort_list_last([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)])

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [177]:
def string_rev(str1):
    return str1[::-1]

In [178]:
string_rev('abcd1234')

'4321dcba'

In [10]:
def prime_or_not(n):
    flag = False
    if(n>=2):
        for i in range(2,n):
            if(n%i==0):
                flag = True
                break
    if flag:
        print("given number is not prime number")
    else:
        print("given number is a prime number")

In [12]:
prime_or_not(18)

given number is not prime number

In [24]:
def palindrome(str1):
    if(str1[:]== str1 [::-1]):
        return ("given string is a palindrome")
    else:
        return ("given string is not a palindrome")

In [25]:
palindrome('madam')

'given string is a palindrome'

In [29]:
def list_(list1):
    list2 = set(list1)
    list3 = list(list2)
    return list3

In [30]:
list_([1, 2, 3, 3, 3, 3, 3, 4, 5])

[1, 2, 3, 4, 5]

In [57]:
def square_():
    list2 = []
    n = int(input("enter the n value"))
    for i in range(1, n+1):
        list2.append(i*i)
    print(list2, end = ' ')

In [58]:
square_()

enter the n value 10

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Pascal triangle

In [105]:
def triangle(n):
    pascal = []
    for i in range(n):
        newrow = [1]
        for j in range(1, i+1):
            newcol = newrow[j-1] * float(i+1-j)/j
            newrow.append(int(newcol))
        pascal.append(newrow)
    print( pascal)

In [106]:
triangle(4)

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1]]

In [108]:
triangle(5)

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

In [109]:
triangle(6)

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1], [1, 5, 10, 10, 5, 1]]