In [5]:
list1 = [1,2,3,4,5]
list2 = []
for i in list1:
    if ((i%2==0) and (i%4==0)):
        list2.append(i)
    else:
        pass

In [6]:
print(list2)

[4]

In [7]:
list1 = [1,2,15,19,22,16,36,30,12,20]
list2 = []
for i in list1:
    if(i%2==0):
        list2.append(i)
    else:
        pass

In [8]:
print(list2)

[2, 22, 16, 36, 30, 12, 20]

In [37]:
list1 = [1,2,15,19,22,16,36,30,12,20]
list2 = []
for i in list1:
    if((i%2==0) and (i%4==0) and (i%6==0)):
        list2.append(i)
    else:
        pass
print(list2)

[36, 12]

[36, 12]

In [12]:
list1 = [1,2,15,19,22,16,36,30,12,20]
list2 = []
for i in list1:
    if((i%2==0) and (i%6==0) or (i%4==0)):
        list2.append(i)
    else:
        pass

In [13]:
print(list2)

[16, 36, 30, 12, 20]

In [14]:
list1 = [1,2,15,19,22,16,36,30,12,20]
list2 = []
for i in list1:
    if(i%2==0):
        list2.append(i)
    else:
        pass

In [15]:
print("Even numbers in the list are{}".format(list2))

Even numbers in the list are[2, 22, 16, 36, 30, 12, 20]

In [1]:
list1 = [1,2,15,19,22,16,36,30,12,20]
list2 = []
for i in list1:
    if(i==1 or i%2==1):
        list2.append(i)
    else:
        pass

print("odd numbers in the list are{}".format(list2))

odd numbers in the list are[1, 15, 19]

In [23]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [16]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue

print(x)

cherry

fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue

    print(x)

In [1]:
for i in range(1, 11): 
    if(i%2==1):
        x=i**2
        print(x)

1
9
25
49
81

In [3]:
for i in range(0, 11): 
    if(i%2==0):
        x=i**2
        print(x)

0
4
16
36
64
100

## Exercise by  pavan

In [1]:
list1 = [5, 3, 4,4]
list2 = []
result = 1
if(len(list1) ==1):
    print (list1)
else:
    for i in list1:
        result = result * i
        list2.append(result)
    
print(list2)

[5, 15, 60, 240]