## TUPLE

In [7]:
numbers = (1, 2, 3, 4, 5)
x = numbers * 2

print(x)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [8]:
numbers = (1,2,3,4)
print(numbers)

(1, 2, 3, 4)

In [9]:
numbers = (1,2,3,4)
print(numbers[1])

2

In [2]:
fruits = ("apple", "banana", "orange", "grapes", "strawberry")
fruits[1:4:2]

('banana', 'grapes')

In [11]:
numbers = (1, 2, 3, 4, 89, 34, 498, 3764, 87478, 386764, 3)
numbers[4:9:3]
numbers[]

(89, 3764)

In [15]:
num2 = (7, 8, 9, 12, 14, 23, 56, 67, 65, 34)
num2[3:9:4]

(12, 67)

In [1]:
fruits = ("apples", "banana", "grapes", "oranges")
fruits[1]

'banana'

In [7]:
fruits = ("apples")

In [8]:
fruits

'apples'

## ADD items to tuples

In [9]:
fruits = ("apples", "banana", "grapes", "oranges")
x = list(fruits)
x.append("grapes")
fruits = tuple(x)
fruits

('apples', 'banana', 'grapes', 'oranges', 'grapes')

In [11]:

x = list(fruits)
x[3] = "cherries"
fruits = tuple(x)

In [12]:
fruits

('apples', 'banana', 'grapes', 'cherries', 'grapes')

In [13]:
y = ("strawberry",)
fruits = fruits + y

In [15]:
print (fruits)

('apples', 'banana', 'grapes', 'cherries', 'grapes', 'strawberry')

## Unpacking tuple

In [19]:
(a, b, c, d, e, f) = fruits
print(d)

cherries

In [20]:
(a, b, *c) = fruits

In [21]:
print(b)

banana

In [22]:
(a, b, c) = fruits

ValueError: too many values to unpack (expected 3)

## USING FOR LOOP

In [24]:
for i in fruits:
    print(i)

apples
banana
grapes
cherries
grapes
strawberry

In [31]:
for i in range(len(fruits)):
    print(fruits[i])

apples
banana
grapes
cherries
grapes
strawberry

In [35]:
for i in range(len(fruits)):
    print(fruits)

('apples', 'banana', 'grapes', 'cherries', 'grapes', 'strawberry')
('apples', 'banana', 'grapes', 'cherries', 'grapes', 'strawberry')
('apples', 'banana', 'grapes', 'cherries', 'grapes', 'strawberry')
('apples', 'banana', 'grapes', 'cherries', 'grapes', 'strawberry')
('apples', 'banana', 'grapes', 'cherries', 'grapes', 'strawberry')
('apples', 'banana', 'grapes', 'cherries', 'grapes', 'strawberry')

In [33]:
for i in range(len(fruits)):
    print(i)

0
1
2
3
4
5

## while loop

In [37]:
i = 0
while i< len(fruits):
    print (fruits[i])
    i = i+1

apples
banana
grapes
cherries
grapes
strawberry

## exercise on tuple

In [1]:
tuple1 = (1, 2, 3, 4, 5)
print(tuple1)
type(tuple1)

(1, 2, 3, 4, 5)

tuple

In [2]:
tuple2 = ('gopinath', 26, 12.6, True)
tuple2

('gopinath', 26, 12.6, True)

In [3]:
tuple1 = (1, 2, 3, 4, 5)
print(tuple1[0])

1

In [4]:
(a, b, c, d, e) = tuple1
print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [5]:
list1 = list(tuple1)
list1.insert(6,6)
tuple2 = tuple(list1)
print(tuple2)
type(tuple2)

(1, 2, 3, 4, 5, 6)

tuple

In [6]:
tuple1 = str(tuple2)
tuple1

'(1, 2, 3, 4, 5, 6)'

In [7]:
tuple1 = ("gopinath", "vagdevi", "bharadwaj", "venkat", "gopiraj")
print(tuple1[3])
print(tuple1[4][3])

venkat
i

In [8]:
tup = (1, 2, 3, 4, 5, 5, 6, 7, 7, 1, 2, 3)

for i in range(0, len(tup)):
    
    for j in range(i+1, len(tup)):
        
        if(tup[i] == tup [j]):
            print(tup[i], end= " ")

1 2 3 5 7

In [9]:
tup1= ('w', 'e', 't', 'r', 's', 'h')
print('t' in tup1)
print('z' in tup1)

True
False

In [1]:
tup=(1,'a',1,7.6,[1.2,3.4])
id(tup[-1])
tup[-1].append(4)
print("Id of the list inside the tuple after appending:")
id(tup[-1])
tup

Id of the list inside the tuple after appending:

(1, 'a', 1, 7.6, [1.2, 3.4, 4])